*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Urbanist';
}
body{
    display: grid;
    background: linear-gradient(#e7f0fA, #7ba4d0,#2e5e99,#0d2440);
    place-items: center;
    padding: 10px;
    width: 100%;
    height: 100vh;
}
#main-heading{
    margin-top: 50px;
}


.nag{
    display: flex;
    gap: 10px;
    list-style: none;
    letter-spacing: 2px;
    text-transform:capitalize;
    text-decoration: solid;

}
.nag li{
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px 0px;
    padding: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 5px 2px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(rgba(68, 31, 31, 0.251));
    color: #fff;
    border: 10px;
    border-radius: 7px;
}
h1{
    text-align: center;
    font-weight: bold;
    color: #131212;
    background: linear-gradient(rgba(121, 248, 255, 0.8));
    border-radius: 12px 0px 12px 0px;
    
}
.main-body p::first-letter{
    color: red;
    font-size: 40px;
}
.main-body h2{
    text-shadow: rgba(0, 0, 0, 0.5)0px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.5)0px  2px 5px 2px;
    border-radius: 0px 7px 0px 7px;

}
.main-body p{
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 1.6;
    text-transform: capitalize;
    text-shadow:0px 5px 2px 10px rgba(0, 0, 0, 0.5);
    max-width: 1320px;
    height: auto;
}
.main-body a{
    border-radius: 5px;
    padding: 5px;
    background: linear-gradient(#e7f0fA, #7ba4d0,#2e5e99,#0d2440);
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 10px 25px 2px;
    box-shadow: rgba(0, 0, 0, 0.5)0px 15px 10px 0px;
    letter-spacing: 2px;
    }
    a:link{
        color: blue;
    }
    a:visited{
        color: rgb(225, 204, 204);
    }
    a:hover{
        color:red;
    }
    a:active{
        color: blueviolet;
    }
    .services h2{
          text-shadow: rgba(0, 0, 0, 0.5)0px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.5)0px  2px 5px 2px;
    border-radius: 0px 7px 0px 7px;

    }
.services p{
    letter-spacing: 2px;
    word-spacing: 1px;
    line-height: 1.6;
    text-transform: capitalize;
    
}
.services p::first-letter   {
    font-size: 40px;
    color: red;
}
.fig figure{
    border-radius: 0px 14px 0px 10px;
    box-shadow: rgba(68, 31, 31, 0.251) 0px 10px 5px 0px;
    padding: 10px;
    letter-spacing: 2px;

}
/* .mycode div{    
    text-shadow: rgb(164 90 90 0.5) , 0px 20px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 30px 15px 0px;
}
.contact{
    position: relative;
}
.child{
    position: absolute;
}
.child{
    bottom: 0;
    right: 0;
} */
.contact h2{
      text-shadow: rgba(0, 0, 0, 0.5)0px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.5)0px  2px 5px 2px;
    border-radius: 0px 7px 0px 7px;
}
footer p{
      text-shadow: rgba(0, 0, 0, 0.5)0px 2px 5px;
    box-shadow: rgba(0, 0, 0, 0.5)0px  2px 5px 2px;
    border-radius: 0px 7px 0px 7px;

}
h1::before{
    content: "MUNNA TECH";
    position: absolute;
    top: 44px;
    left: 37.55%;
    font-size: 10px;
    letter-spacing: 2px;
    color: red;
    text-transform: capitalize;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 7px 0px 10px;
    font-weight: bold;
    border: 1px solid black;
    padding: 2px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 5px 2px 2px;
}
h1::after{
    content: "     ";
    position: absolute;
    border: 3px solid red;
    right: 38%;
    width: 122px;
    top: 102px;
    box-shadow: rgba(0, 0, 0, 0.5)2px 5px 2px;
}
h1{
    text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 2px;
    box-shadow: rgba(0, 0, 0, 0.5)0px 2px 5px 3px;
}